/* Start Variables */
:root {
    --main-color: #0056D2;
    --secondary-color: #e3efff;
    --confirm-color: #28a745;
    --back-color: #ffffff;
    --border-color: #ccc;
    --font-color: black;
    --transparent-color: rgb(15 116 143 / 70%);
}
/* End Variables */

nav ul {
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
nav ul li {
    margin: 0;
    padding: 0;
}
.logo img {
    width: 50px;
}


.logo {
    position: relative;
    top: 2px;
    left: 10px;
}
header h2 {
    font-size: 20px;
    color: var(--main-color);
    font-family: 'Edu NSW ACT Cursive', Courier, monospace;
    position: absolute;
    left: 60px;
    top: -6px;
}
header .search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
header .search input{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
header .search button {
    width: 80px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--back-color);
    font-size: 18px;
    cursor: pointer;
}

header .create-team a {
    border: none;
    border-radius: 5px;
    background-color: var(--confirm-color);
    color: var(--back-color);
    font-size: 18px;
    cursor: pointer;
}





.main-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin: 30px;
}
.messages {
    flex: 0 0 calc(50% - 0px);
}
.teams {
    flex: 0 0 calc(50% - 0px);
}



.info {
    width: 600px;
    height: 100px;
    background-color: var(--back-color);
    height: 350px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 5px 0.1px gray;
}
.info .banner img {
    width: 600px;
    height: 150px;
    border-radius: 10px 10px 0 0;
}
.info .profile-image img{
    background-color: var(--back-color);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 27%;
    left: 11%;
    transform: translateX(-50%);
    border: 5px solid var(--back-color);
}
.info h2 {
    margin-top: 50px;
}


.messages {
    /*background-color: green;
        border-radius: 10px;
    box-shadow: 0 0 5px 0.1px gray;*/
    display: flex;
    flex-direction: row;
    gap: 0;

}
.messages .users {
    margin-left: 200px;
    background-color: var(--back-color);
    width: 250px;
    height: 350px;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: 0 0 5px 0.1px gray;
}
.chat {
    background-color: var(--back-color);
    width: 350px;
    height: 350px;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0 0 5px 0.1px gray;
}
.messages .users .user {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.messages .users .user i {
    font-size: 24px;
    color: var(--main-color);
}
.messages .users .user img {
    background-color: var(--back-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}



.team-list {
    background-color: var(--back-color);
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: 0 0 5px 0.1px gray;

    width: 600px;
    height: 300px;
}
.team {
    display: flex;
    padding: 10px;
    gap: 10px;
    border-bottom: 2px solid #ccc;
}

.search {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search input{
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.search button {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--back-color);
    font-size: 18px;
    cursor: pointer;
}
.create-team {
    margin-top: 20px;
}
.create-team a {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--confirm-color);
    color: var(--back-color);
    font-size: 18px;
    cursor: pointer;
}