/* Start Variables */
:root {
    --main-color: #0056D2;
    --secondary-color: #e3efff;
    --confirm-color: #28a745;
    --back-color: #ffffff;
    --border-color: #ccc;
    --font-color: black;
    --transparent-color: rgb(15 116 143 / 70%);
}
.landing {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.landing h2 {
    font-size: 70px;
    color: var(--main-color);
    margin-bottom: 30px;
    font-family: 'Edu NSW ACT Cursive', Courier, monospace;
}
.landing p {
    font-size: 20px;
    color: #555;
    max-width: 600px;
    margin-bottom: 30px;
}
.login {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px 0.1px gray;
    background-color: var(--back-color);
}
.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login form input{
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login form button,
.login form a{
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    font-size: 18px;
    cursor: pointer;
    color: var(--back-color);
}
.login form a.create {
    background-color: var(--confirm-color);
}