:root {
    --main-color: rgb(255, 145, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: "Work Sans", sans-serif;
}
p.h {
    font-size: 60px;
    margin-bottom: 20px;
    font-family: "Edu NSW ACT Cursive", sans-serif;
}
header {  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
nav ul{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav a {
    color: white;
}
ul {
    list-style-type: none;
}
header a{
    text-decoration: none;
}
a {
    font-family: "Work Sans", sans-serif;
}
button {
    cursor: pointer;
}


.landing {
    text-align: center;
    margin-top: 100px;
}
.landing h2 {
    font-size: 60px;
    margin-bottom: 20px;
    color: var(--main-color);
}

.login {
    width: 370px;
    height: 220px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid var(--main-color);
    border-radius: 100px;
}
.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: solid 2px var(--main-color);
    border-radius: 50px;
}

.login button{
    width: 60%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 50px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    text-align: center;
}
.login a {
    width: 60%;
    padding: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 50px;
    background-color: var(--main-color);
    color: white;
    text-align: center;
}

footer {
    text-align: center;
    background-color: var(--main-color);
    color: white;
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
}