/* Start Variables */
:root {
    --main-color: #0059be;
    --secondary-color: #ff6a00;
    --confirm-color: #28a745;
    --back-color: #f1f5f9;
    --transparent-color: rgb(15 116 143 / 70%);
}
/* End Variables */
/* Start Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
    background-color: #f1f5f9;
    margin: 0;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
    min-height: 90px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.page {
    min-height: 100vh;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Mediam */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */


body {
    background-color: var(--back-color);
}


header {
    height: 70px;
    background-color: var(--main-color);
}
nav ul {
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: var(--back-color);
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}
.logo {
    position: relative;
    top: 20px;
}
.logo img {
    width: 100px;
}




.register-section {
    padding: 60px 0;
}
.register-container {
    max-width: 600px;
    margin-bottom: 30px;
}
.register-section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--main-color);
    font-family: 'Edu NSW ACT Cursive', Courier, monospace;
    font-size: 50px;
}



.register-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.register-section form button {
    margin: 40px 10px 10px 10px;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    background-color: var(--confirm-color);
    color: #fff;
    cursor: pointer;
}
.register-section form input {
    margin: 10px;
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    outline: none;
    transition: 0.3s;
}
.register-section form button:hover {
    background-color: var(--secondary-color);
}
textarea,
.register-section form input {
    transition: 0.3s;
}
.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center ;
}

.year {
    display: flex;
    gap: 20px;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
}
.year input[type="range"] {
    -webkit-appearance: none;
    width: 250px;
    height: 6px;
    border-radius: 5px;
    background: var(--back-color);
    outline: none;
    cursor: pointer;
}

.year input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
    background: var(--main-color);
    border-radius: 5px;
}

.year input[type="range"]::-moz-range-track {
    height: 6px;
    background: var(--main-color);
    border-radius: 5px;
}

/* Thumb */
.year input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: white;
    border: 5px solid var(--main-color);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
}

.year input[type="range"]::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: white;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    cursor: pointer;
}







.gender {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.gender label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    cursor: pointer;
}

.gender input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 20px;
    height: 20px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}
.gender input[type="radio"]:checked {
    background-color: var(--main-color);
}







textarea:focus,
.register-section form input:focus {
    border-color: #0075ff;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 117, 255, 0.4);
}

.headline {
    font-size: 20px;
    width: 100%;
}
textarea {
    display: flex;
    width: 100%;
    height: 120px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: #f9f9f9;
    outline: none;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    background-color: #000000;
    padding: 15px;
    text-align: center;
    color: var(--back-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer div {
    font-size: 16px;
}
a:visited {
    color: var(--back-color);
    text-decoration: none;
}